body{
    max-width: 100%!important;
}
@media (max-width: 767px) {

    h1 .a{
        font-size: 42px!important;
    }
    h1 .b{
        font-size: 55px!important;
    }
    div.section-2 p{
        font-size: 26px;
        margin: 0 33px;
    }
    .circular-capability{
        margin-top: 33px;
    }
    #navbar > div > button > span{
        z-index: 888!important;
    }
    .capability-text{
        font-weight: 400!important;
    }
    .stack-container{
        padding: 22px 0!important;
        width: 60%!important;
        box-shadow: none!important;
    }

}
.project-img{
    max-height: 360px;
}
.background-loader-overlay{
    background-color: #000;
    height: 100%!important;
    width: 100%!important;
    z-index: 999!important;
    position: fixed;
}
.overlay-content{
    margin-top: 23%;
    margin-left: 50%;
    vertical-align: middle;
}
.overlay-text{
    margin-top: 20%;
    margin-left: 50%;
    color: #fff;
}
nav{
    z-index: 888!important;
}
.navbar a{
    color: #000;
    font-weight: 200;
    transition: box-shadow linear 0.4s;
}
.navbar a:hover{
    box-shadow: inset 0 0px 0 white, inset 0 -31px 0 #2ac93fab;  
}
#navbar > div > button > span{
    z-index: 888!important;
    padding: 5px;
}
*::selection{
background-color: #2ac93fab!important;
color: #000;
}
.cutout{
    height: 500px;
    z-index: 777!important;
    float: right!important;
    pointer-events: none;
}
h1{
    position: absolute;
    animation-delay: 3s;
}
h1 .a{
    font-size:77px;
    font-weight: 200;
    margin-left: 10%;
}
h1 .b{
    font-size: 77px;
    font-weight: 400px;
    margin-left: 10%;
}
.section-2{
    background-color: #2AC940;
    padding:88px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
}
.section-2 p{
    margin: 0 65px;
    color: #fff;
    font-size: 22px;
}
.section-3{
    padding: 33px 0;
}
header{
    display: flow-root;
}
m{
    box-shadow: inset 0 0px 0 white, inset 0 -31px 0 #2ac93fab;
}
.capabilities{
    margin: 95px 0;
}
.capabilities-header, .tech-stack-header, .projects-header{
    font-size: 43px;
}
.circular-capability{
    width: 80px!important;
    height: 80px!important;
    text-align: center;
    border-radius: 50%;
    background-color: #2ac93fab;
    font-size: 37px;
}
.circular-capability i{
    vertical-align: -webkit-baseline-middle;
    font-weight: 200;
}
.capability-text{
    font-size: 25px;
    font-weight:600;
}
.circular-capability > .lni{
    transition: font-size ease-in-out 0.2s!important;
}
.navbar-brand{
    background-color: #2ac93f;
    opacity: .9;
    padding: 19px 26px;
   color: #212529;
    z-index:888!important;
    transition: background-color linear 0.3s!important;
    animation-delay: 4s;
}
.navbar-brand:hover{
    box-shadow: none!important;
}
.stack-container{
    box-shadow: 4px 4px 5px #b1afaf88;
    padding: 44px 0;
    border-radius: 10%;
    width: 70%;
    margin: 39px 0;
    transition: box-shadow linear 0.3s!important;
}
.stack-container:hover{
    box-shadow: 4px 4px 4px 5px #b1afaf88;
}
.stack-image{
    width: 44%;
}
.section-3{
    z-index: 666!important;
}
.span-text{
    font-size: 17px;
    font-weight: 600;
}
.project-image{
    width: 100%;
}
figcaption{
    font-weight: 200;
}
.project-info{
    bottom: 29px;
    position: relative;
    font-size: 23px;
    color: #2AC940;
    text-align: right!important;
}

/* Hover effects */

figure{
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    list-style: none;
    box-sizing: border-box;
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    width: 100%!important;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    }
    figure.effect-apollo {
        background: #3498db;
    }
    
    figure.effect-apollo img {
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 3s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
        
    }
    
    figure.effect-apollo figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
    }
    
    figure.effect-apollo p {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 1em;
        padding: 0 1em;
        max-width: 150px;
        border-right: 4px solid #fff;
        text-align: right;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
    
    figure.effect-apollo h2 {
        text-align: center;
    }
    
    figure.effect-apollo:hover img {
        opacity: 0.6;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
        height: 360px;
        width: 480px;
    }
    
    figure.effect-apollo:hover figcaption::before {
        -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
        transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
    }
    
    figure.effect-apollo:hover p {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }