@font-face {
  font-family: segoeui;
  src: url(/assets/fonts/segoeui.ttf);
}

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  height: 87vh;
}

header h1 {
  margin-top: 1.3em;
  margin-left: 1.3em;
  font-size: 3.3rem;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  position: relative !important;
}

header h1 .a {
  font-size: 3.7rem;
  font-weight: 200;
}

header h1 .b {
  font-size: 3.5rem;
  font-weight: 400;
}

.background-loader-overlay {
  background: #000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
}

.overlay-content {
  margin-top: 23%;
  margin-left: 50%;
  vertical-align: middle;
}

.overlay-text {
  margin-top: 20%;
  margin-left: 50%;
  color: #fff;
}

.navbar-brand {
  background-color: #2ac93f;
  opacity: 0.9;
  padding: 19px 26px;
  color: #252627;
  z-index: 888 !important;
  -webkit-transition: background-color linear 0.3s !important;
  transition: background-color linear 0.3s !important;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.navbar-brand :hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

m {
  -webkit-box-shadow: inset 0 0px 0 white, inset 0 -31px 0 #2ac93fab;
          box-shadow: inset 0 0px 0 white, inset 0 -31px 0 #2ac93fab;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.section-2 {
  background: #2ac93f;
  padding: 88px 0;
}

.section-2 p {
  margin: 0 65px;
  font-size: 1.9rem;
}

.nav-link {
  padding: 0;
}

.navbar-nav {
  -webkit-box-align: last baseline;
      -ms-flex-align: last baseline;
          align-items: last baseline;
}

a {
  color: #252627;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

a:hover {
  color: #252627;
  -webkit-box-shadow: inset 0 0px 0 white, inset 0 -11px 0 #2ac93fab;
          box-shadow: inset 0 0px 0 white, inset 0 -11px 0 #2ac93fab;
  color: #212529;
  text-decoration: none;
}

.circular-capability {
  margin-top: 33px;
  width: 80px !important;
  height: 80px !important;
  text-align: center;
  border-radius: 50%;
  background-color: #2ac93fab;
  font-size: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.capability-text {
  font-weight: 400 !important;
}

.lni-heart-filled {
  color: #ff004c;
}

.capabilities-header {
  font-size: 2.5rem;
  padding: 1.2rem 0;
}

.section-center {
  margin: 0 auto;
}

.capabilities {
  padding: 5em 0;
}

.stack-section {
  padding: 5em 0;
}

.stack-container {
  width: 77%;
  padding: 2.7em 0;
  margin-bottom: 3em;
  border-radius: 15px;
  -webkit-box-shadow: 12px 12px 16px 0 rgba(98, 79, 79, 0.25), -8px -8px 12px 0 rgba(236, 223, 223, 0.3);
          box-shadow: 12px 12px 16px 0 rgba(98, 79, 79, 0.25), -8px -8px 12px 0 rgba(236, 223, 223, 0.3);
}

.stack-container .stack-image {
  width: 50%;
}
/*# sourceMappingURL=site.css.map */